.a {
	text-size-adjust: none;
-webkit-text-size-adjust: none;
-moz-text-size-adjust: none;
-ms-text-size-adjust: none
}
.b {
	white-space: nowrap;
	margin-bottom: 5px;
	line-height: 90%;
	}
.c {
	 white-space: nowrap;
	 color:#7d7d7d;
	 margin-top: 0;
	 line-height: 90%;
}
.d {
	color:#000;
	text-decoration:none;
}
.intro {
	float: left; margin-left: 50px; white-space: nowrap;
}
.nowrapping {
	white-space: nowrap;
}

.collapsible {
  display: block;
  margin-bottom: 1rem;

  input {
    position: absolute;
    left: -9999px;
    &:focus ~ .collapser{
      border-color: grey;
    }
  }

  .collapser {
    cursor: pointer;
    border: 1px transparent dotted;
  }

  .arrow {
    float: right;
    margin-left: 0.5em;
    display: inline-block;
  }

  input:checked ~ .arrow,
  input:checked ~ .collapser .arrow 

  .collapsed {
    font-size: 0;
    margin: 0;
    opacity: 0;
    padding: 0;

  }

  input:checked ~ .collapsed {
    font-size: 16px;
    opacity: 1;
    height: auto;
    padding: 5px 0;
}
