.a {
	text-size-adjust: none;
-webkit-text-size-adjust: none;
-moz-text-size-adjust: none;
-ms-text-size-adjust: none
}
.b {
	white-space: nowrap;
	margin-bottom: 5px;
	line-height: 90%;
	}
.c {
	 white-space: nowrap;
	 color:#7d7d7d;
	 margin-top: 0;
	 line-height: 90%;
}
.d {
	color:#000;
	text-decoration:none;
}
.intro {
	float: left; margin-left: 50px; white-space: nowrap;
}
.nowrapping {
	white-space: nowrap;
}
  p.tree,
  ul.tree,
  ul.tree ul {
    list-style: none;
    padding: 0;
	  float: left; margin-left: 50px; white-space: nowrap;
  }

  ul.tree ul {
    margin-left: 1.0em;
  }

  ul.tree li {
    margin-left: 0.35em;
    border-left: 1px dotted #000;
  }

  ul.tree li:last-child {
    border-left: none;
  }

  ul.tree li:before {
    width: 0.9em;
    height: 0.6em;
    margin-right: 0.1em;
    vertical-align: top;
    border-bottom: 1px dotted #000;
    content: "";
    display: inline-block;
  }

  ul.tree li:last-child:before {
    border-left: 1px dotted #000;
  }
