.a {
	text-size-adjust: none;
-webkit-text-size-adjust: none;
-moz-text-size-adjust: none;
-ms-text-size-adjust: none
}
.b {
	white-space: nowrap;
	margin: 0;
	}
.c {
	 white-space: nowrap;
	 color:#7d7d7d;
	 margin: 0;
}
.d {
	color:#000;
	text-decoration:none;
}
.intro {
	float: left; margin-left: 50px; white-space: nowrap;
}
.nowrapping {
	white-space: nowrap;
}
